<html>
    <head>
        <title>door debug</title>
        <style type="text/css">
            h1 {
                color: navy;
            }
            button {
                width: 100%;
                height: 150px;
                margin: auto;
            }
            .buttons {
                display: flex;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            const openDoor = () => {
                fetch('/open')
            } 

            const closeDoor = () => {
                fetch('/close')
            }
        </script>
        <h1>DEBUG BEEP DOOR</h1>
        <div class="buttons">
            <button onclick="openDoor()">Open Door</button>
            <button onclick="closeDoor()">Close Door</button>
        </div>
    </body>
</html>